@model Dugun_davetiyesi.Models.Cevap
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CevapFormu</title>
    <link href="/css/styles.css" rel="stylesheet" />@*//sağ taraftan css klasörü altında bulunan styles clasını sürükleyerek attık. Sürükleme sonrası ilk tırnaktan sonra  kıvrımlı bir işaret var onu sileceğiz*@
   
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h5 class="bg-primary text-white text-center m-2 p-2">Cevap Formu</h5>
    <form  asp-action="CevapFormu" method="post">
        <div asp-validation-summary="All"></div> @*// Validation hatalarının gösterilmesi için kullanılan bir komuttur ve en başta gösterip All ile tüm kodlara uyguladık.*@
        <div class="form-group">
            <label asp-for="Ad">Adınız Nedir :</label>
            <input asp-for="Ad" class="form-control"/>
        </div>

        <div class="form-group">
            <label asp-for="SoyAd">Soyadınız Nedir :</label>
            <input asp-for="SoyAd" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Email">Email Adresiniz Nedir :</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Telefon">Telefon Numaranız Nedir :</label>
            <input asp-for="Telefon" class="form-control" />
        </div>

        <div class="form-group">
            <label > Düğüne gelecek misiniz ?</label>
            <select asp-for="DuguneGelecekmi" class="form-control">
                    <option value="">Lütfen Bir Seçim Yapınız ! </option>
                    <option value="true">Evet</option>
                    <option value="false">Hayır</option>
                </select>
            
        </div>
        <button type="submit" class="btn btn-primary">Cevabı Gönder</button>
    </form>


</body>
</html>
